body {
	background-color: snow;
}
nav {
	text-align: center;
	font-family: arial;
	padding: 25px 30px;
}

nav a {
	margin-left: 7px;
	text-decoration: none;
	color: black;
	padding: 6px 15px;
}

a:visited {
	color: black;
}

a:hover {
	background-color: teal;
	color: snow;
	border-radius: 20px;
}

h1 {
	text-align: center;
	font-family: garamond;
	color: saddlebrown;
	font-weight: bold;
	font-style: italic;
}

div.modelling {
	padding-top: 30px;
	text-align: center;
	font-family: arial;
	font-weight: bold;
}

img {
  border-radius: 7px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-family: arial;
  font-size: small;
}

div.gallery {
  float: left;
  margin: 5px;
  width: 300px;
  height: auto;
}

::-webkit-scrollbar
{
	width: 6px;
}

::-webkit-scrollbar-thumb
{
	background-color: teal;
	border-radius: 6px;
}

::-webkit-scrollbar-track
{
	background-color: teal, transparent;
}